<div class="col-xs-12">
  <h3>Publish</h3>
  <div class="panel panel-default">
    <label>Please add some content
      <input type="text" class="form-control" (input)="onUpdateInput($event)">
    </label>
    <button class="btn btn-success" type="button" (click)="onSubmit()">Submit</button>
  </div>
</div>