<div class="row" style="border-color:rgb(0, 204, 255); border-style:solid;">
  <div class="col-md-6" style="border-color:rgba(0, 0, 255); border-style:dashed;">
      <app-publish></app-publish>
    </div>

  <div class="col-md-6" style="border-color:rgba(0, 0, 200); border-style:dashed;">
    <app-subscribe></app-subscribe>
  </div>
</div>
