<div class="nav navbar-default fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a href="#" class="navbar-brand">Cookbook (Aeolix, Angular, NodeJS)</a>
    </div>
  </div>
</div>