<div class="col-xs-12">
  <h3>Response</h3>
  <label>{{ subscribeURL }}</label>
  <div class="panel panel-default">
    <label>Content via SUBSCRIBE </label>
    <input type="text" class="form-control" value="{{ receivedContent}}">
  </div>
</div>